body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth-form-dark {
  background-color: #fff;
}
.brands-logo {
  width: 225px;
  margin: 0 auto;
}
.form-group label {
  color: #393939;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #393939;
}
.form-control {
  color: #393939 !important;
}
.form-control:focus {
  color: #393939 !important;
}
.logoimg {
  filter: invert(100%);
}
.card.blur {
  filter: blur(5px);
  pointer-events: none; /* Disable interaction */
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's on top */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db; /* Change this color to customize the loader */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Adjust the animation speed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader p {
  font-size: 20px;
}


.progress {
  height: 40px;
  background-color: #e9ecef;
}

.progress-bar {
  background-color: #3498db; /* Customize the color */
  transition: width 0.4s ease;
}
select.form-select {
 
  color: #000000;
  
}
.counterRow {
  background-color: white;
  padding: 35px 40px 35px 40px;
  border: 1px solid #e9e9e9;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}
.card .card-body {
  padding: 1.5rem 1.5rem;
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}
.input-group-append {
  display: flex;
  justify-content: center; /* Center the icon */
}

.form-group {
  position: relative;
}

.btn {
  cursor: pointer; /* Change cursor on hover */
}
.eyebutton {
  border: none;
    right: 0;
    margin-top: -44px;
    background-color: white;
    color: black;
    padding: 0;
    float: right;
    margin-right: 12px;
}
.eyebutton:hover {
  background-color: white;
  color: black;
}
.home-tab .statistics-details .statistics-title {
  font-style: normal;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 4px;
  font-weight: 800;
}
.sidebar .nav .nav-item .nav-link .menu-title {
  font-weight: 700 !important;
}
.sidebar .nav.sub-menu .nav-item .nav-link {
  color: #484848;
  padding: 0.7rem 1rem;
  position: relative;
  font-size: 14px;
  line-height: 1;
  height: auto;
  border-top: 0;
  font-weight: 700;
}
select.form-select {
  color: #000000;
  background-color: white;
}
p.showing-result {
  font-size: 15px;
    font-weight: 500;
} 
span.current-time {
  font-size: 21px;
    color: #262626;
    font-weight: 500;
    background-color: white;
    padding: 15px 54px 15px 51px;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, rgb(0, 23, 128) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, rgb(2, 0, 128) 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: rgb(2, 9, 105);

}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* ---------------Files Collate-------------------- */

input[type="file"] {
  margin-bottom: 20px;
}
button{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
}

.upld-filescollate-label{
  font-weight: 500;
  margin-bottom: 10px;
}